{% load staticfiles %}
<footer class="main-footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-widget">
            <div class="logo-wrap">
              <a href="{% url 'home:home' %}"><img src="{% static 'images/logo-footer.png' %}" alt=""></a>
            </div>
            <p>Nunc tincidunt enim ac sapien porta congue. Nulla mi sapien, feugiat eget feugiat sed, pharetra vitae est.</p>
          </div><!-- /.footer-widget -->
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="footer-widget">
            <h4>Company</h4>
            <ul>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Terms & Policies</a>
              </li>
              <li>
                <a href="#">Apartments</a>
              </li>
              <li>
                <a href="#">Partnership</a>
              </li>
            </ul>
          </div><!-- /.footer-widget -->
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="footer-widget">
            <h4>Get Connected</h4>
            <p><a href="tel:0123456789">0123456789</a></p>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
            <ul class="social-links">
              <li>
                <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div><!-- /.footer-widget -->
        </div><!-- /.col-sm-4 -->
      </div>
    </div>
  </div><!-- /.top-footer -->
  <div class="bottom-footer">
    <div class="container">
      <div class="copyright-wrap">
        <p>© Copyright 2017 - <a href="#">BitsInnovatin Pvt. Ltd.</a></p>
      </div>
    </div>
  </div><!-- /.bottom-footer -->
</footer>